@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Open Sans", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    /* background-image: linear-gradient(120deg, purple, darkblue, midnightblue, purple); */
    background-color: lightgray;
    height: 100vh;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    z-index: 121;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.616);
    overflow: hidden;
}


div.login{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background-color: whitesmoke; */
    background: url(images/Snow.gif) no-repeat center;
    background-size: 230%;
    animation: fundo 2s infinite alternate;

    img{
        height: 200px;
        border-radius: 10px;
        z-index: 1;
        box-shadow: 0px 0px 10px;
    }
}

@keyframes fundo{
     25%{
        background-size: 230%;
    }

    100%{
        background-size: 240%;
    }
}


.login::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent; 
    backdrop-filter: blur(5px);
    opacity: 4;
    transition: .5s ease-in-out;
}

.login:hover::after{
    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: none;
    opacity: .3;
}



.formulario{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        margin: 30px 0px 30px 0px;
        user-select: none;
    }
}

label{
    position: relative;
    display: inline-block;
    width: 280px;

    i{
        position: absolute;
        top: 32px;
        left: 10px;
        opacity: .5;
    }

    .inpt{
        width: 280px;
        height: 50px;
        margin: 15px 0px;
        border-radius: 25px;
        border: 1px solid white;
        background-color: #E5E5E5;
        padding-left: 30px;
    }

    
    
    input::placeholder{
        position: absolute;
        left: 30px;
    }
}


.check{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    user-select: none;
}

.lembrarLogin{
    font-size: .9em;
    font-weight: 500;

    input{
        transform: scale(1.2);
        
    }
}

input[type="button"]{
    width: 280px;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-size: 1.5em;
    font-weight: 800;
    background-color: #1FCC44;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type="button"]:hover{
    background-color: green;
}


.forgot{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 50px;

    a{
        text-decoration: none;
        color: #1FCC44;
        font-weight: 600;
        transition: .3s ease-in-out;
    }
}


.acc{
    font-size: 1.2em;
    color: #1FCC44;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.acc:hover, .forgot a:hover{
    color: green;
}


/* Estilos responsiveis */




@media screen and (min-width: 768px) and (max-width: 830px) {
    
    

    .box{
        flex-direction: row-reverse;
        width: 700px;
        height: 450px;
    }

    form h2{
        margin: 20px 0px 10px 0px;
    }

    .forgot{
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 576px) and (max-width: 767.9px){
    body{
        background-image: linear-gradient(120deg, darkblue, purple, midnightblue);
        width: 95%;
        margin: 0 auto;
    }

    .box{
        min-width: 570px;
        max-width: 650px;
        height: 450px;
    }

    div.login{
        width: 45%;
        animation: none;
        background-size: 500%;

        img{
            height: 150px;
        }
    }

    .formulario{
        width: 55%;
    }

    form h2{
        margin: 20px 0px 10px 0px;
    }

    .forgot{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 575.8px) {
    body{
        background-image: linear-gradient(120deg, purple, darkblue, midnightblue, purple);
        max-width: 95%;
        margin: 0 auto;
    }


    .box{
        height: 600px;
        min-width: 300px;
        max-width: 400px;
        flex-direction: column;
    }

    div.login{
        height: 25%;
        width: 100%;

        img{
            height: 80px;
        }
    }

    .login::after, .login:hover::after{
        display: none;
    }

    .formulario{
        height: 75%;
        width: 100%;
    }

    form h2{
        margin: 20px 0px 10px 0px;
    }

    .forgot{
        margin-bottom: 20px;
    }
}